<div
  class="bg-black text-white min-h-screen flex justify-center items-center flex-col gap-10"
>
  <!-- <app-calendar [showOverflowDays]="true"></app-calendar> -->
  <!-- <app-calendar
    [calendarConfig]="{ calendarQuantity: 3, weekStart: 1 }"
  ></app-calendar> -->
  <!-- <kims-calendar #kimsCalendar="kimsCalendar">
    <div kimsCalendarNextMonth>nextMonth</div>
    <div *ngFor="let week of kimsCalendar.grid()">
      <div *ngFor="let day of week">
        {{ day.getDate() }}
      </div>
    </div>
  </kims-calendar> -->
  <div>
    <div class="flex items-center gap-3 mb-5">
      <span>Selected Date:</span>
      <input
        class="text-black"
        [(ngModel)]="selectedDate"
        dateFormat
        format="yyyy/MM/dd"
      />
    </div>
    <calendar
      #calendar="calendar"
      class="flex flex-col justify-between items-start gap-10"
      [defaultDate]="selectedDate"
      [(ngModel)]="selectedDate"
    >
      <div class="flex flex-col w-full [&>*]:flex [&>*]:justify-between">
        <div>
          <button prevYear>prevYear</button>
          <span class="col-span-5 text-center">
            {{ calendar.year }}
          </span>
          <button nextYear>nextYear</button>
        </div>
        <div>
          <button prevMonth>prevMonth</button>
          <span class="col-span-5 text-center">
            <select class="text-black" monthSelect></select>
          </span>
          <button nextMonth>nextMonth</button>
        </div>
      </div>

      <div
        class="grid grid-cols-7 gap-3 [&>*]:flex [&>*]:justify-center [&>*]:items-center"
      >
        @for (week of calendar.grid; track $index) { @if ($index === 0) {
        @for(date of week; track $index) {
        <span class="p-3">
          {{ date | weekDayName }}
        </span>
        } } @for (date of week; track $index) {
        <span>
          <button
            class="p-3"
            [ngClass]="{
              'bg-blue-400': calendar.isDateEqual('day', date, selectedDate),
            }"
            (click)="calendar.setDate(date)"
          >
            {{ date.getDate() }}
          </button>
        </span>
        } }
      </div>
    </calendar>
  </div>
</div>
<!-- <router-outlet></router-outlet>  -->
