<div
  class="bg-black text-white min-h-screen flex justify-center items-center flex-col gap-10"
>
  <!-- <app-calendar [showOverflowDays]="true"></app-calendar> -->
  <!-- <app-calendar
    [calendarConfig]="{ calendarQuantity: 3, weekStart: 1 }"
  ></app-calendar> -->
  <!-- <kims-calendar #kimsCalendar="kimsCalendar">
    <div kimsCalendarNextMonth>nextMonth</div>
    <div *ngFor="let week of kimsCalendar.grid()">
      <div *ngFor="let day of week">
        {{ day.getDate() }}
      </div>
    </div>
  </kims-calendar> -->
  <calendar
    #calendar1="calendar"
    class="flex flex-col justify-between items-start gap-10"
  >
    <div class="flex flex-col w-full [&>*]:flex [&>*]:justify-between">
      <div>
        <button prevYear>prevYear</button>
        <span class="col-span-5 text-center">
          {{ calendar1.year }}
        </span>
        <button nextYear>nextYear</button>
      </div>
      <div>
        <button prevMonth>prevMonth</button>
        <span class="col-span-5 text-center">
          <select class="text-black" monthSelect></select>
        </span>
        <button nextMonth>nextMonth</button>
      </div>
    </div>

    <div
      class="grid grid-cols-7 gap-3 [&>*]:flex [&>*]:justify-center [&>*]:items-center"
    >
      @for (week of calendar1.grid; track $index) { @if ($index === 0) {
      @for(day of week; track $index) {
      <span class="p-3">
        {{ day | weekDayName }}
      </span>
      } } @for (day of week; track $index) {
      <span>
        <button
          class="w-full h-full p-3"
          (click)="calendar1.setDate(day); selectedDate = day"
        >
          {{ day.getDate() }}
        </button>
      </span>
      } }
    </div>
  </calendar>
</div>
<!-- <router-outlet></router-outlet>  -->
