<div class="flex justify-between items-start [&>*]:p-1 [&>*]:m-1">
  <div
    *ngFor="let item of calendar.gridItems$ | async; let i = index"
    class="[&>*]:grid [&>*]:grid-cols-7 [&>*>*]:p-1 [&>*>*]:m-1 [&>*>*]:flex [&>*>*]:justify-center [&>*>*]:items-center"
  >
    <div>
      <span>
        <button *ngIf="i === 0" (click)="calendar.prevMonth()"><</button>
      </span>
      <span class="col-span-5 text-center"
        >{{ months[item.month] }} {{ item.year }}</span
      >
      <span>
        <button
          *ngIf="i === calendar.calendarQuantity - 1"
          (click)="calendar.nextMonth()"
        >
          >
        </button>
      </span>
    </div>

    <div>
      <ng-container *ngFor="let week of item.grid; let i = index">
        <ng-container *ngIf="i === 0">
          <span *ngFor="let day of week">{{ weekDays[day.getDay()] }}</span>
        </ng-container>
        <button
          *ngFor="let day of week"
          (click)="selectedDate = day; calendar.setDate(day)"
          class="p-1 m-1 flex justify-center items-center"
          [ngClass]="{
            'bg-blue-500': calendar.isDateEqual('day', day, selectedDate),
            'opacity-50': day.getMonth() !== item.month
          }"
        >
          {{ day.getDate() }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
