<div class="flex justify-between items-start [&>*]:p-1 [&>*]:m-1">
  <div *ngFor="let grid of calendarService.grids$ | async; let i = index">
    <div class="flex justify-between items-center [&>*]:p-1 [&>*]:m-1">
      <button *ngIf="i === 0" (click)="calendarService.prevMonth()"><</button>
      <span *ngIf="i !== 0"></span>
      <span> {{ months[grid.month] }} </span>
      <span>{{ grid.year }}</span>
      <span *ngIf="i !== calendarService.getCalendarQuantity() - 1"></span>
      <button
        *ngIf="i === calendarService.getCalendarQuantity() - 1"
        (click)="calendarService.nextMonth()"
      >
        >
      </button>
    </div>

    <div class="grid grid-cols-7 text-white">
      <ng-container *ngFor="let week of grid.grid">
        <button
          *ngFor="let day of week"
          (click)="selectedDate = day; calendarService.setDate(day)"
          class="p-1 m-1 flex justify-center items-center"
          [ngClass]="{
            'bg-blue-500': isDateEqual('day', day, selectedDate),
            'opacity-50': day.getMonth() !== grid.month
          }"
        >
          {{ day.getDate() }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
