<h2>Date Picker</h2>
<app-datepicker></app-datepicker>
<hr />
<h2>Date Range Picker</h2>
<app-date-range-picker></app-date-range-picker>
<hr />
<h2>Week Number Picker</h2>
<app-week-number-picker></app-week-number-picker>
<hr />

<!-- <div calendarGroup #calendarGroup="calendarGroup">
  {{ calendarGroup.offset() }}

  <div calendar #start="calendar">
    {{ start.month() }}

    <button calPrevMonth><</button>
  </div>

  <div calendar #end="calendar">
    {{ end.month() }}

    <button calPrevMonth><</button>
  </div>

  <div>
    <div calendar #mid="calendar">
      {{ mid.month() }}
    </div>
  </div>
</div> -->
