<div class="relative">
  <div
    class="flex justify-start items-center gap-3 mb-5 [&>*]:flex [&>*]:items-center [&>*]:gap-3"
  >
    <label #labelRef1>
      <span>Start Date:</span>
      <input [(ngModel)]="value[0]" dateFormat (focus)="showCalendar = true" />
    </label>
    <label #labelRef2>
      <span>End Date:</span>
      <input [(ngModel)]="value[1]" dateFormat (focus)="showCalendar = true" />
    </label>
    <button (click)="clear()">X</button>
  </div>

  @if(showCalendar) {
  <div
    class="absolute top-[calc(100%+10px)] left-0 bg-black flex border border-white p-5 gap-3 z-50"
    calendarGroup
    [config]="{
    defaultDate: value[0] || today,
  }"
    #calendarGroup="calendarGroup"
    onClickOutside
    (clickOutside)="showCalendar = false"
    [ignoreRefs]="[labelRef1, labelRef2]"
  >
    <app-calendar
      [selectedDate]="value"
      [dateClickCallback]="selectValue2"
    ></app-calendar>
    <app-calendar
      [selectedDate]="value"
      [dateClickCallback]="getBoundedSelectValue()"
    ></app-calendar>
  </div>
  }
</div>
