<div class="relative">
  <label #labelRef class="flex items-center gap-3 mb-5">
    <span>Selected Date:</span>
    <input [(ngModel)]="value" dateFormat (focus)="showCalendar = true" />
  </label>

  @if(showCalendar) {
  <div
    class="absolute top-[calc(100%+10px)] left-0 bg-black flex border border-white p-5 w-fit z-50"
  >
    <app-calendar
      (clickOutside)="showCalendar = false"
      [(selectedDate)]="value"
      onClickOutside
      [ignoreRefs]="[labelRef]"
    ></app-calendar>
  </div>
  }
</div>
