<div>
  <label #labelRef class="flex items-center gap-3 mb-5">
    <span>Selected Date:</span>
    <input [(ngModel)]="value" (focus)="showCalendar = true" />
  </label>
  @if(showCalendar) {
  <div
    calendar
    #calendar="calendar"
    class="flex flex-col justify-start items-start gap-3 border border-white p-5 max-w-md"
    onClickOutside
    [ignoreRefs]="[labelRef]"
    (clickOutside)="showCalendar = false"
  >
    <div
      class="grid grid-cols-9 w-full [&>*]:flex [&>*]:justify-center [&>*]:items-center [&>button]:aspect-square [&>button]:rounded-full"
    >
      <button prevYear><<</button>
      <span class="col-span-7 text-center">
        {{ calendar.year() }}
      </span>
      <button nextYear>>></button>

      <button prevMonth><</button>
      <span class="col-span-7 text-center">
        <select monthSelect></select>
      </span>
      <button nextMonth>></button>
    </div>

    <div>
      @for (week of calendar.grid(); track $index) { @if ($index === 0) {

      <div
        class="w-full grid grid-cols-8 [&>*]:flex [&>*]:justify-center [&>*]:items-center [&>*]:aspect-square"
      >
        @for(date of week; track $index) { @if($index === 0) {
        <span class="border-r border-white">No.</span>
        }
        <span class="p-3">
          {{ date | weekDayName }}
        </span>
        }
      </div>

      }

      <div
        class="w-full grid grid-cols-8 hover:bg-red-950 rounded-full cursor-pointer [&>*]:flex [&>*]:justify-center [&>*]:items-center [&>*]:aspect-square
        {{ value === yearWeek.transform(week[0]) ? '!bg-red-600' : '' }}
        "
        (click)="value = yearWeek.transform(week[0])"
      >
        @for (date of week; track $index) { @if($index === 0) {
        <span class="border-r border-white">{{
          date | yearWeek : { format: 'ww', countFrom: 1 }
        }}</span>
        }
        <span
          class="w-full h-full p-3 {{
            date.getMonth() !== calendar.monthIndex() ? 'opacity-50' : ''
          }}"
        >
          {{ date.getDate() }}
        </span>
        }
      </div>

      }
    </div>
  </div>
  }
</div>
